@import "tailwindcss";

:root {
  --background: #fdfdf8;
  /* Slightly warm off-white */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Palette */
  --color-custom-red: #c82b51;
  --color-custom-orange: #ce7a46;
  --color-custom-gold: #d4b768;
  --color-custom-light-gold: #dfdfa1;
  --color-custom-cream: #e8e8c9;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}